body {
	font-family: Arial;
}

h1 {
	font-weight: bold;
	font-size: 25px;
}

div {
	postion: absolute;
	background-color: #FFE4B5;
	align-items: center;
  	display: flex;
	padding: 10px;
    	margin: 10px;
	width: 25%;
	height: 15%;
}

.header1 {
	postion: relative;
	background-color: #FFE4B5;
    	justify-content: center;
    	color: green;
    	padding: 10px;
    	margin: 10px;
	width: 25%;
	height: 15%;

}

.header2 {
	position: absolute;
	left: 30%;
	top: 0%;
	background-color: #FFE4B5;
    	justify-content: center;
    	color: grey;
    	padding: 10px;
    	margin: 10px;
	width: 65%;
	position: right;
	height: 15%;
}

.main {
	position: absolute;
	left: 30%;
	top: 20%;
	background-color: #8FBC8B; 
    	color: black;
    	padding: 10px;
    	margin: 10px;
	width: 65%;
	height: 60%;
}

.footer {
	position: absolute;
	left: 30%;
	top: 85%;
	background-color: #9370DB;
    	justify-content: center;
    	color: palevioletred;
    	padding: 10px;
    	margin: 10px;
	width: 65%;
	height: 15%;
	


}

.sidebar {
    	justify-content: center;
    	color: palevioletred;
    	padding: 10px;
    	margin: 10px;
	background-color: #FFB6C1;
	width: 25%;
	height: 38%;
}
